<h2>{{drinks.length}} Open Bars and/or Brunches found in DC</h2>
{{#each drinks as |drink index|}}
<h3>
  <a href="/drinks/{{drink.restaurant_name}}">{{drink.restaurant_name}}</a>
</h3>
  <p>Brunch or Open Bar? {{drink.type}}</p>
  <p>Day: {{drink.day}}</p>
  <p>Start Time: {{drink.time_start}}{{meridiem}}</p>
  <p>End Time: {{drink.time_end}}</p>
  <p>Price: ${{drink.price}}</p>
  <p>Address: {{drink.address}}</p>
{{/each}}
